In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from time import time

In [24]:
# Pembacaan dataset dengan menggunakan method Read_csv yang disediakan modul pandas.
# method tersebut dipakai karena dataset hasil unduh berjenis csv dimana baris pertama
# bukanlah data kolom, atau tanpa header.
data = pd.read_csv('./breast-cancer-wisconsin.data')
data.columns=['Id number', 'Clump Thickness', 'Uniformity of cell size', 'Uniformity of Cell Shape', 'Marginal Adhesion', 'single Epithelial Cell Size', 'Bare Nuclei', 'Bland Chromatin', 'Normal Nucleoi', 'Mitoses', 'Class']

# buat variabel data2 yang akan diisi dengan dataset yang sudah di ubah ke numerik dan
# semua cell yang kosong diberi tana NaN (Not a Number)
data2 = data.apply(pd.to_numeric, errors='coerce')

# Hapus semua data yang tidak lengkap, yaitu yang isinya mengandung NaN.
data = data2.dropna() # Rewrite previous data entry with new complete data

# hapus ID Number karena tidak di butuhkan dalam klasifikasi ini.
del data['Id number']

# data

data

,Clump Thickness,Uniformity of cell size,Uniformity of Cell Shape,Marginal Adhesion,single Epithelial Cell Size,Bare Nuclei,Bland Chromatin,Normal Nucleoi,Mitoses,Class
0,5,4,4,5,7,10.0,3,2,1,2
1,3,1,1,1,2,2.0,3,1,1,2
2,6,8,8,1,3,4.0,3,7,1,2
3,4,1,1,3,2,1.0,3,1,1,2
4,8,10,10,8,7,10.0,9,7,1,4
...,...,...,...,...,...,...,...,...,...,...
693,3,1,1,1,3,2.0,1,1,1,2
694,2,1,1,1,2,1.0,1,1,1,2
695,5,10,10,3,7,3.0,8,10,2,4
696,4,8,6,4,3,4.0,10,6,1,4
697,4,8,8,5,4,5.0,10,4,1,4

In [27]:
# Lakukan faktorisasi
data.loc[:, "Class"] = pd.factorize(data.loc[:, "Class"])[0]
#tampilkan hasilnya
data[["Class"]].head()

# tampilkan nilai/isi kolom class
# class_list = data["Class"].tolist()
# print(class_list)


# untuk ngitung ada berapa data yang value nya sama
nilai_unik = data.loc[:, "Class"].value_counts()
print("\nFrekuensi isi kolom 'Class' : ")
print(nilai_unik)

nilai_unik = data.loc[:, "Uniformity of cell size"].value_counts()
print("\nFrekuensi isi kolom 'Uniformity of cell size' : ")
print(nilai_unik)

Frekuensi isi kolom 'Class' :
0    443
1    239
Name: Class, dtype: int64

Frekuensi isi kolom 'Uniformity of cell size' :
1     372
10     67
3      52
2      45
4      38
5      30
8      28
6      25
7      19
9       6
Name: Uniformity of cell size, dtype: int64

C:\Users\Vikri Muhammad Gafar\AppData\Local\Temp\ipykernel_21832\2465305397.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data.loc[:, "Class"] = pd.factorize(data.loc[:, "Class"])[0]